@model LiteCommerce.Admin.Models.OrderDetailPaginationResult
@{
    ViewBag.Title = "Order detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}
    <div class="box box-primary">
        @*<div class="box-header with-border">
            <h3 class="box-title">Quick Example</h3>
        </div>*@
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" method="get" action="~/OrderDetail">
            <div class="box-body">
                <div class="input-group input-group-sm">
                    <input type="text" name="orderID" value="@Model.Data[0].OrderID" class="form-control" style="display:none">
                    <input type="text" name="searchValue" value="@Model.SearchValue" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-flat">Find</button>
                    </span>
                </div>
            </div>
            <!-- /.box-body -->
        </form>
    </div>
<form action="~/OrderDetail/Delete" method="post">
    <input type="text" name="orderID" value="@Model.Data[0].OrderID" style="display:none"/>
    <div class="container-fluid row">
        <div class="col-md-8">
            có @Model.RowCount Orderdetail.
        </div>
        <div class="col-md-4" style="text-align:right">
            <div class="btn-group">
                <a href="~/OrderDetail/Input?orderID=@Model.Data[0].OrderID" class="btn btn-primary">Add order detail</a>
                <button type="submit" class="btn btn-danger">Delete order detail</button>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Hover Data Table</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                    <div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th style="width:10px"><input class="checkboxAll" type="checkbox" /></th>
                                    <th style="width:15px">#</th>
                                    <th>Product name</th>
                                    <th>UnitPrice</th>
                                    <th>Quantity</th>
                                    <th>Discount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Data)
                                {
                                    <tr role="row" class="even">
                                        <td><input type="checkbox" class="checkboxRow" name="productIDs" value="@item.ProductID" /></td>
                                        <td>@(++i)</td>
                                        <td>
                                            @item.ProductName
                                        </td>
                                        <td>
                                            @item.UnitPrice
                                        </td>
                                        <td>
                                            @item.Quantity
                                        </td>
                                        <td>
                                            @item.Discount
                                        </td>
                                        <td>
                                            <a class="btn btn-default" href="~/OrderDetail/Input?orderID=@item.OrderID&&productID=@item.ProductID">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</form>
<script>
    $(".checkboxAll").click(function () {
        for (i = 0; i < $(".checkboxRow").length; i++) {
            if ($(".checkboxAll")[0].checked == true)
                $(".checkboxRow")[i].checked = true;
            else
                $(".checkboxRow")[i].checked = false;
        }
        //$(".checkboxRow").every(AddCheckbox);
    })
</script>

